In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
data=pd.read_csv('clean_data.csv',index_col='Unnamed: 0')

In [5]:
data.head()

,Unnamed: 0.1,eventid,iyear,imonth,iday,extended,country,country_txt,region,region_txt,...,weaptype1_txt,nkill,property,ishostkid,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,date
0,133,197003140002,1970,3,14,0,60,Egypt,10,Middle East & North Africa,...,Explosives,0.0,1,0.0,PGIS,-9,-9,0,-9,1970-03-14
1,1092,197111280001,1971,11,28,0,60,Egypt,10,Middle East & North Africa,...,Firearms,1.0,0,0.0,PGIS,1,1,0,1,1971-11-28
2,1181,197202190001,1972,2,19,0,60,Egypt,10,Middle East & North Africa,...,Explosives,0.0,0,1.0,Hijacking DB,0,1,1,1,1972-02-19
3,5603,197712050001,1977,12,5,0,60,Egypt,10,Middle East & North Africa,...,Firearms,1.0,0,0.0,PGIS,-9,-9,1,1,1977-12-05
4,6797,197809300002,1978,9,30,0,60,Egypt,10,Middle East & North Africa,...,Explosives,0.0,1,0.0,PGIS,1,0,1,1,1978-09-30

In [7]:
data.region_txt.unique()

array(['Middle East & North Africa'], dtype=object)